@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html, body {margin: 0; overflow: hidden}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    /* background: rgb(243,99,82); */
    /* background: linear-gradient(197deg, rgb(238, 89, 72) 0%, rgba(244,123,105,1) 100%); */
    background: #e27969;
}

.container {
    margin: auto;
    margin-top: 150px;
    text-align: center;
    color: #FFF5E4;
    font-family: 'Poppins', sans-serif;
    transition: .6s;
    position: relative;
}

p {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: 40px;
    z-index: 20;
    margin-block-start: 0.2em;
    margin-block-end: 1em;
}

@media only screen and (min-width: 1500px) {
    .logo {
        margin-top: -100px;
    }
}

.logo {
    max-width: 500px;
    width: 75vw;
    transition: .6s;
}

.theater-bottom {
    background-image: url("./assets/theater-bottom.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

.blob1 {
    position: absolute;
    width: 160px;
    transform: translate(0, 0px);
    top: 6vh;
    left: 45%;
	animation: float1 5s ease-in-out infinite;
}

@keyframes float1 {
	0% {
		transform: translate(0, 0px);;
	}
	50% {
		transform: translate(0, -20px);;
	}
	100% {
		transform: translate(0, 0px);;
	}
}

.blob2 {
    position: absolute;
    width: 200px;
    transform: translate(0, 0px);
    left: 20px;
    animation: float1 5s ease-in-out infinite;
    animation-delay: -2s;
}

.blob3 {
    position: absolute;
    width: 200px;
    transform: translate(0, 0px);
    right: 20px;
    animation: float1 5s ease-in-out infinite;
    animation-delay: -1s;
}
@media only screen and (max-width: 800px) {
    .container {
        position: unset;
    }
    p {
        top: 50vw;
    }
    video {
        width: 130vw;
        position: absolute;
        transform: translate(-50%);
        left: 50%;
        top: 40px;
    }
    body {
        background: #df6d5b;
    }
}


@media only screen and (max-width: 800px) {
    .blob1, .blob2, .blob3, .theater-bottom {
        display: none;
    }
    .container {
        margin-top: 13vh;
    }
    .shrine {
        display: block !important;
    }
}

.shrine {
    display: none;
    background-image: url("./assets/comotion-shrine.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    position: fixed;
    height: 60%;
    bottom: 0;
    width: 100vw;
    z-index: 20;
}

img, .theater-bottom {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;   
}